<p id="notice"><%= notice %></p>

<p>
  <strong>Date supply:</strong>
  <%= @fuel_supply.date_supply %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @fuel_supply.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @fuel_supply.price %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @fuel_supply.vehicle_id %>
</p>

<%= link_to 'Edit', edit_fuel_supply_path(@fuel_supply) %> |
<%= link_to 'Back', fuel_supplies_path %>
